@media only screen and (max-width: 668px) {
    .map-responsive {
        overflow: hidden;

        padding-bottom: 56.25%;

        position: relative;
    }

    .map-responsive iframe {
        left: 0;

        top: 0;

        width: 350px
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .map-responsive {
            overflow: hidden;
    
            padding-bottom: 56.25%;
    
            position: relative;
        }
    
        .map-responsive iframe {
            left: 0;
    
            top: 0;
    
            width: 650px
        }
}