.reviews-container{
    width: 44rem;
    margin: auto;
}
/* make services responsive */
@media only screen and (max-width:576px) {
    .reviews-container {
        margin: auto;
        width: 28rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .reviews-container {
        margin: auto;
        width: 28rem;
    }
}